@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

* {
  margin: 0;
  padding: 0;
}

body{
  background-color: rgb(62, 168, 119);
margin-top: 100px;
justify-content: center;
font-family: Josefin Sans;
/* font-family: Bree Serif; */
color:rgb(249, 252, 248)
}
nav {
  width: 100vw;
  position: fixed;
  top: 0;
  padding: 1vh 0;
  background-color: rgba(48, 102, 23, 0.6);
  display: flex;
  justify-content: center;
}

nav>a {
  font-family: Josefin Sans;
  margin: 0 6vw;
  font-size: 4vh;
  color: white;
  text-decoration: none;
}

h1 {
  top: 10%;
  margin-bottom: 50px;
  white-space: nowrap;
}

/* game page */

#area {
  top: 23%;
  width: 222px;
  
/* border: 2px solid #fdf9f9; */
  margin: 0 auto;
  font-size: 0;
}
 
.section>register{
  margin: 50px;
  font-size: x-large
}

.cell {
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  font-size: 56px;
  border: 2px solid #fdf9f9;
  cursor: pointer;
  vertical-align: middle;
  transition: background .1s;
}

.cell:hover {
  background-color: #3afc44;
}

.currentPlayer {
  position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  font-size: 1,5vw;
  display: flex;
}

#player1, #player2{
  font-family: Josefin Sans;
  width: 200px;
  height: 40px;
  font-size: 1,5vw;
}
.stat {
  position: absolute;
    top: 20%;
    left: 10%;
    transform: translateX(-50%);
  width: 15%;
  border-collapse: collapse;
  border: none;
  /* display: flex; */
  align-items: center;
  color:#fdf9f9;
}

/* .stat table, */
.stat th,
.stat td {
  left: 15%;
  /* border: 1px solid #fdf9f9; */
   padding: 5px; 
  text-align: center;
  color: #fdf9f9;
  font-size: 1,5vw;
  
}

.stat th{
  font-family: Josefin Sans, cursive;
}


#start{
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translateX(-50%);
width: 25%;
height: 10%;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #1d7e3d;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 4vh;
  border: none;
  cursor: pointer;
  
}
#start:hover {
  background-color: #54e9a3;
}

#btnPlayNewGame, #btnPlayAgain{
  position: absolute;
  transform: translateX(-50%);
  width: 25%;
  height: 10%;
  border-radius: 5px;
  margin-bottom: 10px;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 4vh;
  border: none;
  cursor: pointer;
}

#btnPlayNewGame {
  top: 65%;
  left: 80%;
  background-color: rgba(48, 102, 23, 0.6);
}
 
#btnPlayAgain {
  top: 50%;
  left: 80%;
  background-color: #82ec09;
}

#playerSelect{
  position: absolute;
  top: 33%;
  left: 25%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-bottom: 2%;
  padding: 20px;
  /* border-radius: 10px; */
}

#playerSelect>select {
  font-size: 4vh;
  color: #0e441c;
  padding: 10px;
  background-color: #d4f8cb;
  border-radius: 5px;
  padding-bottom: 10px;
  transition: background-color 0.3s;
}

/* Register new player page */

 #register>input{
  font-size: 4vh;
    color: #0e441c;
    padding: 10px;
    background-color: #d4f8cb;
    border-radius: 5px;
    padding-bottom: 10px;
    transition: background-color 0.3s;
 }

    #register{
position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-bottom: 2%;
    }

/* #registerPlayer{
  overflow: hidden;
    text-overflow: ellipsis;
} */

select:hover {
  background-color: #2acc7b;
  /* Highlight on hover */
}

#register>button,
 #playerSelect>button {
  font-size: 4vh;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #1d7e3d;
  color: #ffffff;
  transition: background-color 0.3s;
  /* Smooth color change on hover */
  font-family: Josefin Sans;
}

button:hover {
  background-color: #58f7ac;
}


/* Leaderbord */

/* #titelLead{
  position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
} */
.leaderboard{
  position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
    font-size: 4vh;
}

.leaderboard,
th{
  font-size: "Josefin Sans", cursive;
}

.leaderboard, th, td{
  border: 2px solid #fdf9f9;
    padding: 5px;
    text-align: center;
    color: #fdf9f9;
}

/* MatchHistory */

#headMatchHistory {
  top: 10%;
  position: absolute;
}

#headPlayer{
  position: absolute;
  top: 27%;
  left: 50%;
transform: translateX(-50%);
white-space: nowrap;
}

/* select-section on the Match history page */
#selectUser {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 30%;
  height: 20%;
  flex-direction: column;
  margin-bottom: 2%;
  padding: 20px;
}

#selectUser>select {
  font-size: 4vh;
  color: #0e441c;
  padding: 10px;
  background-color: #d4f8cb;
  border-radius: 5px;
  padding-bottom: 10px;
  transition: background-color 0.3s;
}

/* button under selectUser-select */
#fixName{
  /* width: 25%;
  height: 10%; */
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #1d7e3d;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 4vh;
  border: none;
  cursor: pointer;
}

#selectPlayerBtn {
  position: absolute;
  top: 35%;
  left: 15%;
  transform: translateX(-50%);
  width: 20%;
  height: 10%;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #1d7e3d;
  color: #ffffff;
  padding: 10px 20px;
  /* font-size: 4vh; */
  font-size: 1,4vw;
  border: none;
  cursor: pointer;
}

.matchHistory,
th,
td {
  border-collapse: collapse;
  border: 1px solid #ffffff;
  padding: 5px;
  text-align: center;
  font-size: 0, 75vw;
  color: #ffffff;
  /* display: flex; */
  /* align-content: center; */
  flex-wrap: wrap;
}

.matchHistory{
  top: 35%;
  position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
}


/* GameLogik  Main*/

#headGameName {
  top: 20%;
}

.stat {
  width: 10%;
  /* display: flex; */
  align-items: center;
  color: #fdf9f9;
}

.stat table {
  border-collapse: collapse;
}

.stat table,
.stat th,
.stat td {
  left: 15%;
  border: 1px solid #fdf9f9;
  padding: 5px;
  text-align: center;
  color: #fdf9f9;
  font-size: 1, 5vw;
}


/* header animation on the all pages */
 #headGameName, 
 #headMatchHistory,
 #titelLead,
 #registerPlayer {
   position: absolute;
   left: 50%;
  transform: translateX(-50%);
   color: #f1f5f2;
   font-size: 10vh;
   opacity: 0;
   /* Initial opacity */
   transition: opacity 1s ease-in-out;
   /* Animation of appearing and disappearing */
  animation: blink 4s infinite;
    /* Blinking */
  }
  
  /* Blinking animation */
  @keyframes blink {
    0%,
    100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
 
/* #playerSelect{
  padding: 5px;
  width: 100px;
} */
/* main {
  width: 100%;
  display: flex;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
} */
