@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
}

body{
  background-color: aliceblue;
margin-top: 100px;
justify-content: center;
font-family: Josefin Sans;
color:rgba(16, 15, 22, 0.6)
}
nav {
  width: 100vw;
  position: fixed;
  top: 0;
  padding: 1vh 0;
  background-color: rgba(69, 43, 216, 0.6);
  display: flex;
  justify-content: center;
}

nav>a {
  font-family: Josefin Sans;
  margin: 0 6vw;
  font-size: 4vh;
  color: white;
  text-decoration: none;
}


.content {

  display: flex;
  margin: 50px 50px 10px 50px;
  font-family: Josefin Sans;
}


#area {
  width: 156px;
  border: 1px solid #000;
  margin: 0 auto;
  font-size: 0;
}
 h1{
  margin-bottom: 50px;
 }
.section>register{
  margin: 50px;
  font-size: x-large
}

.cell {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  display: inline-block;
  font-size: 26px;
  border: 1px solid #000;
  cursor: pointer;
  vertical-align: middle;
  transition: background .1s;
}

.cell:hover {
  background-color: #F1F1F1;
}

.currentPlayer {
  margin: 100px 20px 20px 350px;
  width: 300px;
  font-size: 18px;
  display: flex;
  /* align-items: center; */
  align-content: center;
}
#playerSelect{
  padding: 5px;
  width: 100px;
}
/* main {
  width: 100%;
  display: flex;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
} */


#player1, #player2{
  font-family: Josefin Sans;
  width: 200px;
  height: 40px;
  font-size: 20px;
}
.stat {
  width: 15%;
  /* display: flex; */
  align-items: center;
  font-size: 20px;
  color:rgb(11, 11, 22)
}

.stat table { 
  border-collapse: collapse;
}

.stat table,
.stat th,
.stat td {
  border: 1px solid #000;
   padding: 5px; 
  text-align: center;
}
